{% extends "base.html" %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

{% load static %}

{% if user.cover_image %}
    <img src="{{ user.cover_image.url }}" alt="Cover Image">
    {% else %}
    <img src="{% static 'img/default_profile_image.jpg' %}" alt="Default Profile Image">
{% endif %}

        <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.cover_image.label_tag }} {{ form.cover_image }}
    </div>
    <div class="form-group">
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-group">
        {{ form.email.label_tag }} {{ form.email }}
    </div>
    <input type="submit" value="Зберегти" class="btn btn-primary">
</form>

                        <p class="card-text">
                        </p>

                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
